<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about_us</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body>
    <header style="text-align: center;">
<h1 id="title" >bouncy</h1>
<h3>enjoy the taste of life with bouncy</h3>
</header>
<div class="menu">
  <a href="#" class="active">take a look!</a>
  <a href="/shop_all">shop all</a>
  <a href="/snacks">snacks♡</a>
  <a href="/aboutus">about us</a>
  <a href="/cart">your cart</a>
  </div>
    <h1>about us ❥</h1>


</body>
</html>