<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about_us</title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body>
    <header style="text-align: center;">
<h1 id="title" >bouncy</h1>
<h3>enjoy the taste of life with bouncy</h3>
</header>
<div class="menu">
  <a href="#" class="active">take a look!</a>
  <a href="/shop_all">shop all</a>
  <a href="/snacks">snacks♡</a>
  <a href="/aboutus">about us</a>
  <a href="/cart">your cart</a>
  </div>

<style>
  /* Add CSS styles to align div elements horizontally */
  .product-container {
    display: inline-block;
    margin-right: 20px; /* Add some space between products */
    text-align: center; /* Center the content within the div */
  }
</style>

<h1>shop all❥</h1>

<!-- Product 1 -->
<div class="product-container">
  <h1 style="text-align:center">drinks</h1>
  <img src="static/imgs/kin11.jpg" style="width:300px;height:300px;">
  <h3>Kin Euphorics - Lightwave Single Can</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

<!-- Product 2 -->
<div class="product-container">
  <img src="static/imgs/kin2.webp" style="width:300px;height:300px;">
  <h3>Kin Euphorics - Bloom Single Can</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

<!-- Product 3 -->
<div class="product-container">
  <img src="static/imgs/kin3.jpg" style="width:300px;height:300px;">
  <h3>Heywell Calm & Restore Sparkling Beverage</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

<!-- Product 4 -->
<div class="product-container">
  <img src="static/imgs/kin4.jpg" style="width:300px;height:300px;">
  <h3>Kin Euphorics - Dream Light</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

<!-- Product 5 -->
<div class="product-container">
  <img src="static/imgs/kin5.jpg" style="width:300px;height:300px;">
  <h3>Recess mood - Strawberry Rose</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

<!-- Product 6 -->
<div class="product-container">
  <img src="static/imgs/kin6.webp" style="width:300px;height:300px;">
  <h3>Hiyo - Watermelon Lime</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

<!-- Product 7 -->
<div class="product-container">
  <img src="static/imgs/kin7.jpeg" style="width:300px;height:300px;">
  <h3>
Underwood Wine Cans - Rosé</h3>
  <a href="/cart"><button class="drinks">add to the bag</button></a>
</div>

</body>
</html>