<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/css/stylesheet.css">
</head>
<body>
    <header style="text-align: center;">
<h1 id="title" >bouncy</h1>
<h3>enjoy the taste of life with bouncy</h3>
</header>
    <h1>sign up ❥</h1>

<form action="/action_page.php">
  <label for="fname">First name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="Uname">username:</label>
  <input type="text" id="Uname" name="Uname"><br><br>
  <label for="eMail">E-mail:</label>
  <input type="text" id="eMail" name="eMail"><br><br>
  <label for="pWord">password:</label>
  <input type="text" id="pWord" name="pWord"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>